body, html{
  background: #fff;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}
nav{
 margin: 0;
 padding: 10px;
 background-color: rgba(37, 195, 201, 0.952);
}

nav a, ul{
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  text-decoration: none; 
  justify-content: space-between;
}

/* @media only screen and (max-width: 750px){
  nav ul{
    display: none;
  }
} */

.navBar-SignIn li, .navBar-SignOut li{
  justify-content: space-between;
  margin-right: 40px;
}

.navBar-SignIn{
  display: none;
}

.bg-img{
  background: url('./component/img/header.jpg');
  background-size: cover;
  height: 90vh;
  width: 100vw;
  
}

.bg-text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 90vh;
}

h1{
  margin: 20px;
  margin-right: 35px;
  color: rgba(4, 122, 126, 0.952);
  font-size: 80px;
}

.header-text{
  margin-right: 40px;
  font-size: 40px;
  margin-top: -20px;
}

 button{
  margin: 20px;
  padding: 10px;
  background-color: rgba(37, 195, 201, 0.952);
  border-radius: 20px;
  width: 90px;
  border-color: rgba(37, 195, 201, 0.952);
}

.home-buttons{
  margin: -35px;
  margin-right: 25px;
}

button:hover{
  border-color: darkcyan;
  cursor: pointer;
}

/*Mobile version*/

@media only screen and (max-width: 900px) {
  .bg-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
  }
  
  h1{
    margin: 20px;
    /* margin-right: 35px; */
    color: rgba(4, 122, 126, 0.952);
    font-size: 10vw;
  }
  
  .header-text{
    margin-right: -20px;
    font-size: 5vw;
    margin-top: -10px;
  }
  
  .home-buttons button{
    margin: 20px;
    padding: 10px;
    background-color: rgba(37, 195, 201, 0.952);
    border-radius: 20px;
    width: 90px;
    border-color: rgba(37, 195, 201, 0.952);
  }
  
  .home-buttons{
    margin: -15px;
    /* margin-right: 25px; */
  }
}

/*About Section*/

/*Divided Section*/

.divider{
  margin-top: -20px;
  background-color: rgb(32, 185, 185);
  height: 40vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.divider h2{
  font-size: 35px;
}

.divider p{
  font-size: 20px;
  margin-top: -20px;
}

/*Tools Section*/


.about-heading{
 font-size: 40px;
 text-align: center;
 width: 90vw;
 margin-left: 30px;
 padding-top: 30px;
}

.task, .notes, .calendar, .budget, .dashboard{
  display: flex;
  margin-top: 30px;
  margin-left: 27px;
  width: 90vw;
  justify-content: center;
}

.task{
  margin-left: 10px;
}

.about-text{
  flex-direction: column;
  margin: 0 20px 0 30px;
}

.about-text h3{
  color:rgba(4, 122, 126, 0.952);
}

.whitebg{
  background-image: url(./component/img/header-mobile.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top: -33px;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.788);
  margin-bottom: 40px;
}

/*Testimonials*/

.testi{
  background-color: rgb(41, 201, 201);
  height: 130vh;
  margin-top: -15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi h2{
  font-size: 30px;
}

.testi img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.testi-profile1, .testi-profile2, .testi-profile3{
  margin: 10px;
  width: 190px;
}

.testi-profile2 img{
  transform: rotate(270deg);
}

.authorName{
  font-size: 12px;
  color: rgb(63, 61, 61);
}

@media only screen and (min-width:900px){

  .testi{
    height: 50vh;
    margin-top: -40px;
  }

  .testi h2{
    margin-top: 20px;
  }
  .testi-profiles{
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
}

/*Footer*/

.footer{
  height: 10vh;
  text-align: center;
  color: #fff;
  background-color: black;
  margin-top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  color: #fff;
}